.example {
  color: #FFF;
  text-align: center; /* Isso só funciona por causa que cada <li> é tratada como um texto, graças a declaração display: inline */
}

.example-item {
  display: inline;
}

.example-item_first {
  background-color: #FAA116;
}

.example-item_second {
  background-color: #57C7C3;
}

.example-item_third {
  background-color: #3B97D3;
}

h3 {
  text-align: right;
}
